@import url(../../App.scss);
.modal {
    position: absolute;
    top: 0;
    // left: 0;

    .form {
        width: 48rem;
        background-color: var(--clr-neutral-100);
        padding: 3rem;
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        .button-grp {
            display: flex;
            gap: 2rem;
        }
    }

    @media only screen and (max-width: 530px) {
        .form {
            padding: 2rem;
            max-width: 32rem;
        }

        .button-grp {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}
