@import url(../../App.scss);
@import '../../css/breakpoints';
.edit-delete-task {
    width: 17rem;
    padding: 1.5rem;
    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius-light);
    background-color: var(--clr-neutral-100);
    // color: var(--clr-body-light);

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: absolute;
    left: 60%;
    top: 20%;
    height: fit-content;
    bottom: 35rem;
    margin: 0;

    @include sm{
        top: 14%;
        width: 12rem;
        gap: 1rem;
    }


   
}
