@import url(../../App.scss);
@import url(../UpdateTaskModal/UpdateTaskModal.scss);
@import '../../css/breakpoints';

.modal{
    .form{
        .subtasks-container{
            .subtask{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 2rem;

                .text-field{
                    width: 90%;
                }
            }
        }
    }
}
