@import url(../../App.scss);
@import '../../css/breakpoints';

.edit-delete {
    width: 17rem;
    padding: 1.5rem;
    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius-light);
    background-color: var(--clr-neutral-100);
    // color: var(--clr-body-light);

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    position: absolute;

    top:4rem;
    right: 2rem;

    @include md{
        top:6rem
    }

    @include sm{
        width: 15rem;
        padding: 1rem;
    }

   
}
