@import url(../../App.scss);

.card--container {
    // margin-top: 5rem;
    padding: 2rem;
    border-radius: var(--border-radius-light);
    box-shadow: var(--box-shadow-medium);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    cursor: pointer;
    background-color: var(--secondary);
    color:var(--white)

    // align-items: flex-start;
}
