@import "./MainBoard.scss";
@import "./breakpoints";
@import "./Home.scss";
@import "../App";


.sidebaricon{
    grid-area: sidebar;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 1.2rem 1.5rem;
    bottom: 0 ;
    background-color: #635FC7;
    border-radius: 0px 40px 40px 0px;
    cursor: pointer;
    margin-bottom: 2rem;

    @include md{
        .hide{
            display: none;
            
        }
    }

    

    @include sm{
        display: none;
    }

    &:hover{
        background-color:#A8A4FF;
    }
}